<h1>Places</h1>

<ul class="list-group">
  <% @places.each do |place| %>
    <li class="list-group-item">
      <%= link_to place.name, place_path(place) %>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to 'New Place', new_place_path, class: 'btn btn-primary' %>
</p>
